@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;800&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

:root {
  --bg: rgba(0, 0, 0, 0.2);
  --white: #fff;
  --another: rgb(65, 92, 85);
  --border-color: #ccd;
  --border-focus: goldenrod;
  --errors: rgb(245, 29, 29);
  --text-color: hsl(327, 11%, 15%);
}

.bg {
  border: 1px solid var(--border-color);
  position: relative;
}

img {
  width: 100%;
}

.overlay {
  position: absolute;
  /* padding: 2rem; */
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--bg);
  color: var(--white);
  width: 100%;
  opacity: 0;
}

.bg, .overlay {
  text-align: center;
}

img, .overlay {
  transition: 1000ms all;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}

img:hover {
  filter: blur(2px);
}

.overlay h4 {
  padding-top: 45%;
}

/* ========================================================================= FORMS =============================================
======================================================= BASICFORM ===================================================================== */
/* form container */
.form-container {
  width: 55%;
  margin: 2rem auto;
}

/* form title */
.h1 {
  font-size: 1.2rem;
  color: var(--border-focus);
  letter-spacing: 1px;
  margin-bottom: 1rem;
  font-weight: 500;
}

/* div containing form headers */
.header {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

/* form header */
.header h4 {
  border-bottom: none;
  transition: border-bottom 100ms linear;
}

/* form header on hover */
.header h4:hover {
  border-bottom: 2px ridge var(--another);
  cursor: pointer;
}

/* input wrapper */
.input-wrapper {
  margin: 1rem 0rem;
}
/* input element */
.input {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--border-color);
  transition-property: border box-shadow;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.input:focus {
  border: 1px ridge var(--border-focus);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2), 0px 0px 64px rgba(255, 255, 255, 0.2);
}

/* form area */
.fieldset {
  padding: 4rem;
  border: 1px ridge var(--border-focus);
}

/* submit button */
.button {
  padding: 0.5rem 1rem;
  background-color: var(--border-focus);
  color: var(--white);
  /* margin-top: 2rem; */
  outline: none;
  border: 1px ridge var(--errors);
  width: 100%;
  font-size: 1.2rem;
}

/* button div */
.btn-div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* radion button */
.radio-fieldset {
  border: none;
  outline: none;
  display: flex;
  gap: 4rem;
}
/* space radio button */
.space-radio {
  margin-right: 1rem;
}

/* checkbox */
.checkbox {
  margin: 1rem 0rem 2rem 0rem;
}

/* form errors */

.form-errors {
  border-color: var(--errors);
}

/* change button opacity when the form isSubmitting  */
button:disabled {
  opacity: 0.2;
}

/* display-error */
.error-display {
  color: var(--errors);
  font-weight: 300;
  font-size: 0.8rem;
}

@media screen and (min-width: 200px ) {
  /* form container */
.form-container {
  width: 100%;
  margin: 0rem;
}
}

@media screen and (min-width: 992px) {
  /* form container */
.form-container {
  width: 55%;
  margin: 2rem auto;
}
}

/* ========================================= ERROR =================================================================================
  =========================================================PAGE =========================================================== */
  .error-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /* ===================================================NAVBAR ==============================================================
=============================================TOP NAV ============================================================================== */
.nav-bar {
  display: flex;
  gap: 0rem 1rem;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  font-weight: 300;
}

.nav-bar a:link {
  text-decoration: none;
  color: var(--text-color);
}

.nav-bar a:visited{
  color: var(--text-color);
}

.nav-bar a:hover{
  border-bottom: 1px ridge var(--another);
  color: var(--another);
}

.nav-bar a:focus{
  border-bottom: 1px ridge var(--another);
  color: var(--another);
}

.nav-bar a:active{
  color: var(--border-focus);
}

/* ================================================================FOOTER ==========================================================
============================================== FOOTER COMPONENTS ================================================================= */
/* sign up form */
input[type='email'] {
  padding: 0.5rem;
  width: 10rem;
}

button {
  padding: 0.5rem 0.8rem;
  background-color: var(--another);
  color: var(--white);
}


/* footer wrapper */
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  padding: 6rem 16rem;
  column-gap: 0.5rem;
}

.footer-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 2rem 0rem;
  background-color: var(--border-color);
  color: var(--another);
}

.footer ul {
  list-style: none;
}

.footer ul li {
  padding-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
}

.footer ul li a:link{
  text-decoration: none;
  color: var(--text-color);
  border-bottom: none;
  transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
}

.footer ul li a:visited{
  color: var(--text-color);
}

.footer ul li a:hover{
  border-bottom: 1px ridge var(--another);
  color: var(--another);
}

.footer ul li a:focus{
  border-bottom: 1px ridge var(--another);
  color: var(--another);
}

.footer ul li a:active{
  color: var(--border-focus);
}

.footer h4 {
  margin-bottom: 0.8rem;
  color: var(--another);
  font-size: 1rem;
  font-weight: 400;
}

.base-footer {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0rem 16rem 4rem;
  column-gap: 0.5rem;
  justify-items: center;
  color: var(--another);
}

.base-footer a {
  text-decoration: none;
  display: block;
  color: var(--another);
  padding: 0.2rem 0rem;
}
